
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


body {
  font-family: 'Outfit', sans-serif;
}
.active hr{
  display: block;
  border: 1px solid black; /* Add visible styles */
}
::-webkit-scrollbar{
  display: none;
}

@media (max-width: 740px) {
  .active p{
 @apply:text-white bg-indigo-500;
  }
  
}